body{
    font-family: 'Poppins', sans-serif;

}
.deiman-container>h1{
    font-size: 40px;
}

.orange-color{
    color: orange;
}

p{
    width: 400px;
   text-align: justify;
}
.download-btn, .hire-btn{
    padding: 10px 20px;
    background-color: #f1270c;
    color: #fff;
    border: none;
}
.deiman-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

